@import "../styles/mixin";

@keyframes glow {
  0%, 100% {
    box-shadow:
    0 246px 256px rgba( #b72, .85),
    0 -4px 128px rgba( #57f, .4),
    0 -4px 64px rgba( #4cf, .8),
    0 88px 128px rgba( #7df, .6),
    0 60vh 80vh rgba(#000, .8)
    ;
  }

  25% {
    box-shadow:
    0 236px 358px rgba( #c82, .9),
    0 -6px 64px rgba( #57f, .4),
    0 -32px 64px rgba( #4cf, .6),
    0 108px 128px rgba( #7df, .4),
    0 70vh 150vh rgba(#000, .7)
    ;
  }

  33% {
    // box-shadow:
    // 0 236px 0px rgba( #b72, .8),
    // 0 -6px  0px rgba( #57f, .6),
    // 0 -32px 0px rgba( #4cf, .4),
    // 0 108px 0px rgba( #7df, .5),
    // 0 70vh 0vh rgba(#000, .7)
    // ;
  }

  50% {
    box-shadow:
    0 200px 280px rgba( #b52, .8),
    0 -8px 128px rgba( #27f, .8),
    0 -16px 88px rgba( #4cb, .2),
    0 128px 800px rgba( #7df, .5),
    0 80vh 130vh rgba(#000, .8)

    ;
  }
  75% {
    box-shadow:
    0 236px 206px rgba( #c62, .8),
    0 -2px 112px rgba( #57f, .3),
    0 -24px 164px rgba( #4cf, .4),
    0 108px 308px rgba( #7df, .5),
    0 37vh 160vh rgba(#000, .7)

    ;
  }
}
article {
  // perspective: 1000px;
  // perspective-origin: 50% 50%;
  .event-data,
  .gallery,
  .event-title h1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}
@keyframes titleGlow {
  0%{
    text-shadow:
      0 0 4px rgba(#FFF,.2),
      0 .38em 8px rgba(#1f5,.1),
      0 .4em 7px rgba(#F93,.2)
    ;
  }
  50%{
    text-shadow:
      0 0 4px rgba(#FFF,.2),
      0 .4em 9px rgba(#1f5,.2),
      0 .38em 8px rgba(#F93,.15)
    ;
  }  
  75%{
    text-shadow:
      0 0 4px rgba(#FFF,.2),
      0 .38em 7px rgba(#1f5,.25),
      0 .4em 8px rgba(#F93,.1)
    ;
  }  
}
.event-title {
  color: #e2e2e2;
  margin: 0 0 40px;
  margin-left: -16px;
  max-width: none;
  border-radius: 0;
  width: calc(100% + 32px);
  box-sizing: border-box;
  font-weight: normal;
  background: #090909;
  padding: 28px 40px 46px;
  text-align: left;
  box-shadow:
    0 128px 256px rgba( #b72, .8),
    0 -2px 128px rgba( #57f, .4),
    0 -4px 64px rgba( #4cf, .8),
    0 88px 128px rgba( #7df, .6)
    ;
  animation: glow 6s infinite ease-in;
  // transition: all .3s;
  //transform: scaleX(1) scaleY(1.2) scaleZ(1) rotateX(-17deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
  text-shadow: 0 0 8px rgba(#FFF,.2);

  h1 {
    font-size: 40px;
    letter-spacing: .12em;
    padding: 0 12px;
    margin: 0;
    box-sizing: border-box;
    text-shadow:
      0 0 4px rgba(#FFF,.2),
      0 .38em 8px rgba(#1f5,.1),
      0 .4em 8px rgba(#F93,.2)
      ;
    animation: titleGlow 2s infinite ease-in;  
    @include mq(sm) {
      margin-left: -12px;
      padding: 15px 16px 20px;
      font-size: 28px;
      span {
        font-size: 60%;
      }
    }
  }
  @include mq(sm){
    padding: 0;
    width: calc(100% + 24px);    
  }

  

  .meta {
    display: block;
    font-size: 40%;
    color: #c3c3c3;
    letter-spacing: .08em;
    font-style: italic;
    //text-shadow: 0 0 4px rgba(#FFF,.5);
    span {
      // transition: all .3s;
      font-size: 1.4em;
      margin: 0 .2em;
      font-style: normal;
      //font-weight: bold;
    }
  }

}

p {
  &:first-child {
    margin-top: 0;
  }
}


.event-data {
  display: flex;
  margin-bottom: 40px;
  @include mq(sm) {
    display: block;
  }
}


.nontext {
  flex:0 0 460px;
  margin-right: 40px;
  
  @include mq(md) {
    flex: 0 0 280px;
    margin-right: 28px;
  }

  @include mq(sm) {
    width: 100%;
    margin-right: 0;
  }

  figure {
    margin: 0;
    margin-bottom: 30px;
    outline: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    box-shadow: 
      4px 8px 16px rgba(#000, .3);
    transition: all .07s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    img {
      transition: all .07s;
      opacity: .5;
    }
    cursor: pointer;
    &.light {
      img{
        opacity: 1;
      }
    }
    @include mq-up(sm) {
      transform: scale(.9);
      &.light {
        transform: scale(1);
      }
    }

    @include mq(sm) {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      opacity: 1;
      width: 220px;
      &.light {
        transform: scale(1.4545);
        box-shadow: 
          4px 8px 100px rgba(#000, .7);
        }
    }
    //@extend %beforeKiran;
  }

  ol {
    padding-left: 0em;
    list-style:none;
 
    //animation: glow2 7s infinite ease-in-out;
    padding: 12px;
    //background: rgba(#1e1e1e, .3);
    // border-width: 1px;
    // border-style: solid;
    // border-color: rgba(#fff, .1) rgba(#090909, .8) rgba(#090909, .8) rgba(#fff, .1);
    @include mq(sm) {
      padding: 8px;
      font-size: 13px;
    }
  }
  ol li {
    margin: .6em 0;
    display: flex;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }
    a { //download link
      flex: 0 0 1em;
      display: inline-block;
      color: #585858;
      margin-left: .6em;
      text-decoration: none;
      padding: 6px;
      font-size: 14px;
      &:hover {
        color: #f2f2f2;
        transform: scale(1.4);
      }
    }
    button {
      background: transparent;
      padding: .4em;
      padding-right: 1.2em;
      font-size: 16px;
      border-radius: calc(16px + .3em);
      display: flex;
      align-items: center;
      color: #dedede;
      border: none;
      outline: none;
      -webkit-tap-highlight-color:rgba(0,0,0,0);
      cursor: pointer;
      @include mq(sm) {
        font-size: 13px;
      }
      .icon{
        font-size: 10px;
        width: 32px;
        flex: 0 0 32px;
        height: 32px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border: 3px solid #14a740;
        background: #222;
        color: #14a740;
        padding: 5px 6px;
        border-radius: 16px;
        margin-right: 1em;
        cursor: pointer;
        transition: all .2s linear;
      }
      &:hover {
        background: #2a2e2e;
        .icon {
          color: #d2f0d3;
          border: rgb(97, 224, 114) solid 4px;
          background: rgb(30, 95, 39);
        }
        .name {
          color: #F1f1f1;
        }
      }
      &.loaded {
        background: #3232a1;
      }
      &.current {
        background: #3232a1;
        //animation: glow2 7s infinite;
        .icon {
          background: #333;
          color: #d2d2d2;
          border-color: #e6e6e6;
        }
        .name {
          color: #F1f1f1;
        }
      }

    }
    
  }
  
  .tag {
    min-width: 2em;
    display: inline-block;
    text-align: right;
    padding: 0 2px;
    background:transparent;
    color: #FFF;
    border-radius: 2px;
    margin-right: 0.5em;
    &.dj {color: #36f;}
    &.live {color: #4c4;}
    &.b2b {color: #C0C;}
    &.performance, 
    &.pfrmnc {color: #CC0;}
    &.session {color: #4df;}
    &.sing,
    &.rubadab,
    &.mc {color: #c63;}
    &.end {color: #999;}
  }
}


.text {
  position: relative;
  z-index: 1;
}


.description {
  color: #e3e3e3;
  max-width: 920px;
  font-size: 18px;
  text-shadow: 0 .4em 2px rgba(#000, .5);
  padding-left: 8px;
  .timetable {
    font-family: monospace;
  }

  @include mq(sm) {
    margin: 40px 0 20px;
    padding: 0;
    font-size: 15px;
  }
}



.gallery {
  margin: 0 0 30px;
  max-width: 100%;
  img {
    position: relative;
    max-width: 33.3333%;
    transition: all .14s ease-out;
    opacity: .6;
    @include mq-up(sm){
      &:hover {
        transform: scale(1.4);
        opacity: 1;
        z-index:3;
      }
    }
    &:nth-of-type(3n-2){
      transform-origin: left bottom;
    }
    &:nth-of-type(3n-1){
      transform-origin: center bottom;
    }
    &:nth-of-type(3n){
      transform-origin: right bottom;
    }
    @include mq(sm){
      &:hover {
        opacity: 1;
      }
    }
  }
  @include mq(sm) {
    margin-bottom: 18px;
  }
}
