$breakpoints: (
  sm: 'screen and (max-width: 480px)',
  md: 'screen and (max-width: 768px)',
  lg: 'screen and (max-width: 1000px)',
  xl: 'screen and (max-width: 1200px)',
  xxl: 'screen and (max-width: 1700px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$breakpoint-up: (
  'sm': 'screen and (min-width: 480px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

$red: #d61313;

%beforeKiran {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%) rotate(45deg);
    background: rgba(#f1f1f1, .8);
    width: 150vw;
    height: 200vw;
    position: absolute;
    transition: all .6s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    z-index: 1;
  }
  &:hover{
    &::before {
      transform: translate(-130%, -130%) rotate(45deg);
    }
  }
}