@import "../styles/mixin";

.information{}

.archives {
  display: flex;
  flex-wrap: wrap;
  @include mq(sm) {
    display: block;
  }
}
.archive {
  box-sizing: border-box;
  padding: 0 20px;
  margin-bottom: 50px;
  width: 20%;

  @include mq(xxl) {
    width: 25%;
  }

  @include mq(xl) {
    width: 33.33333%;
  }

  @include mq(lg) {
  }

  @include mq(md) {
    width: 50%;
    padding: 0 10px;
  }

  @include mq(sm){
    width: 80%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }


  figure {
    margin: 0;
    margin-left: -12px;
    margin-right: -12px;
    width: calc(100% + 24px);
    max-width: none;
    @include mq(md) {
      //min-height: 130px;
      height: 200px;
      overflow: hidden;
    }
    img {
      min-height: 100%;
    }
  }
  a {
    height: 100%;
    box-sizing: border-box;
    display: block;
    color: #dfdfdf;
    text-decoration: none;
    border: 3px solid #dfdfdf;
    padding: 0 12px 10px;
    transition: all .1s;
    &:hover {
      border-color: $red;
      color : $red;
      background: #121212;
    }

    @extend %beforeKiran;

  }
  h3 {
    font-size: 30px;
    font-weight: normal;
    margin: 16px 0 20px;
  }
  span {
    display: block;
    font-size: 60%;
  }
  p {

  }
  @include mq(md){
    h3 {
      font-size: 24px;
      span {
        font-size: 80%;
      }
    }
  }
  @include mq(sm){
    h3 {
      font-size: 20px;
    }
  }

}