@import "../styles/mixin";

.global_header {
    margin-bottom: 40px;
    @include mq(md) {
        margin-bottom: 20px;
    }
}
.logo {
    color: #FFF;
    line-height: 1;
}
.logo div {
    position: relative;
    display: inline-block;
    background: red;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;	
}
.logo span {
    display: block;
    font-size: 12px;
}