@import "../styles/mixin";

.global_header {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    @include mq(md) {
        margin-bottom: 20px;
    }
    @include mq(sm) {
        display: block;
        margin-bottom: 8px
    }
}
.logo {
    margin-right: 20px;
    @include mq(sm){
        margin-right: 0;
    }
}
.logo div {
    transition: all .1s;
    position: relative;
    display: inline-block;
    background: rgba(#922, .8);
    font-family: "Monoton";
    letter-spacing: 0.1em;
    line-height: 1;
    font-size: 40px;
    font-weight: normal;
    color: #6d6d6d;
    padding: 10px 13px 13px;
    @include mq(sm) {
        font-size: 22px;
    }
    &:hover {
        color: #d7d7d7;
        background: #cf2121;
        box-shadow: 0 0 24px rgba(#ef3232, .6);
        text-shadow: 0 0 18px rgba(#e2e2e2, .7);
    }
}
.logo span {
    display: block;
    font-size: 12px;
}
.now-playing {
    display: inline-block;
    padding: .4em;
    //background: rgba(#000, .3);
    @include mq(sm) {
        font-size: 12px;
    }
}