@import "../styles/mixin";

.global_header {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: flex;
    //justify-content: center;
    @include mq(md) {
        margin-bottom: 20px;
    }
    @include mq(sm) {
//        display: block;
        margin-bottom: 16px
    }
}
.logo {
    margin-right: 20px;
    @include mq(sm){
        margin-right: 0;
    }
}


@keyframes blinking {
    0%, 
    24%,
    26%,
    27%,
    29%, 31%, 33%, 35%,71%,73%,
    100% {
        background: rgba(#922, .8);
        color: #6d6d6d;
    }
    25%, 30%, 32%, 34%,40%,72%
     {
        color: #d7d7d7;
        background: #cf2121;
    }
    70% {
        color: #dfdfdf;
        background: #d51616;
        box-shadow: 0 0 24px rgba(#ef3232, .6);
        text-shadow: 0 0 18px rgba(#e2e2e2, .7);
    }
}
.logo div {
    background: rgba(#922, .8);
    color: #6d6d6d;
    transition: all .1s;
    position: relative;
    display: inline-block;
    font-family: "Monoton";
    letter-spacing: 0.1em;
    line-height: 1;
    font-size: 40px;
    font-weight: normal;
    padding: 10px 13px 13px;
    animation: blinking 6s infinite;
    @include mq(sm) {
        font-size: 22px;
    }
}



.logo span {
    display: block;
    font-size: 12px;
}
.now-playing {
    display: inline-block;
    padding: .4em;
    //background: rgba(#000, .3);
    @include mq(sm) {
        font-size: 12px;
    }
}